.contacts {
    padding-top: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.contacts-content {
    border-top: 1px solid var(--light-midle-gray);
}

.contacts-content__container {
    max-width: 1600px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    width: 100%;
}

.contacts-content__lf {
    position: relative;
    width: calc(522 / 1600 * 100%);
    padding-top: 122px;
    padding-bottom: 121px;
    /* padding-right: 122px;*/
    /* margin-left: 80px; */
    align-items: center;
    border-right: 1px solid var(--light-midle-gray);
}

.contacts-content__content {
    max-width: 402px;
}

.contacts__title-mobile,
.contacts__address-mobile {
    display: none;
}

.contacts-content__title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark);
}

.contacts-content__address {
    margin-bottom: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
}

.contacts-content__descr {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark);
}


/* .contacts-content__descr--bottom {
    margin-bottom: 14px;
} */


/* .contacts-content__descr {
    margin-bottom: 14px;
} */

.contacts-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 38px;
}

.contacts-form__group {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contacts-form__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--validate);
    opacity: 0;
}

.js-validate-error-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-left: 20px;
    order: -1;
}

.contacts-form__group:nth-last-child() {
    margin-bottom: 22px;
}

.contacts-form__input {
    max-width: 400px;
    height: 40px;
    margin-top: 1px;
    margin-bottom: 7px;
    padding-left: 24px;
    outline: none;
    border: 1px solid var(--dark);
    border-radius: 100px;
    transition: .3s ease-in-out;
}

.contacts-form__input:hover {
    background-color: var(--light-gray);
}

.contacts-form__input:focus {
    background-color: var(--light-gray);
}

.contacts-form__btn {
    position: relative;
    width: 157px;
    padding: 15px 34px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--violet-midle);
    background-color: var(--white);
    border: 2px solid var(--violet-midle);
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: none;
}

.contacts-form__btn:hover {
    color: var(--white);
    background-color: var(--violet-midle);
    outline: 3px solid var(--violet-ultra-hover);
}

.contacts-form__btn:active {
    color: var(--white);
    background-color: var(--violet-active);
    outline: 3px solid var(--violet-ultra-hover);
}

.contacts-form__btn:focus {
    color: var(--white);
    background-color: var(--violet-midle);
    outline-offset: 4px;
    outline: 3px solid var(--violet-ultra-hover);
}

.contacts-content__social-item {
    display: flex;
}

.contacts-content__social-list:not(:last-child) {
    margin-right: 18px;
}

.contacts-content__social-link {
    display: flex;
    transition: .3s ease-in-out;
}

.contacts-content__social-link:hover {
    opacity: 0.5;
}

.contacts-content__social-link:focus {
    outline: none;
    opacity: 0.5;
}

.contacts-content__social-link:active svg {
    border-radius: 50%;
    border: 1px solid #9643A4;
}

.contacts-content__rt {
    position: relative;
    min-height: 300px;
    width: calc(1078 / 1600 * 100% + ((100vw - 100%) / 2));
    /* 1078 - в данном случае это ширина карты внутри контейнера, её можно менять */
    margin-right: calc((-100vw + 100%) / 2);
    transition-property: width, height, padding;
    transition-duration: 100ms;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[class*=ground-pane] {
    filter: grayscale(1);
}

@media (max-width: 710px) {
    .contacts-content__container {
        flex-direction: column-reverse;
    }
    .contacts-content__lf {
        border-right: none;
    }
}
